@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
}


body{
    background-color: rgb(37, 37, 37);
}

nav{
    display: flex;
    flex-direction: row;
    height: 5vw;
    width: 100%;
    border-radius: 20px;
}

ul{
    margin-left: 30vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

li{
    list-style-type: none;
    padding: 20px;
    justify-content: center;
    color: lightgray;
    padding: 10px 20px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    position: relative;
    border-radius: 180px;
    font-family: poppins;
}

li:hover, img:hover {
    transform: scale(1.2);
    font-size: 18px;
}

.main{
    display: flex;
    margin-top: 30vw;
}

p{
    text-decoration: none;
}

img{
    transition: transform 0.3s ease, font-size 0.3s ease;

    width: 5vw;
    margin-left: 5px;
}

#box{
    height: 2000px;
}