:root {
  --fontFamily: "roboto", sans-serif;
  --fontSizeLarge: 2.5rem;
  --fontSizeMedium: 2rem;
  --fontSizeSmall: 1.5rem;
  --fontSizeBase: 1.2rem;
  --fontSizeSmaller: 1.1rem;
  --colorPrimary: #00aaff;
  --colorGradiant: #00ffaa;
  --colorSecondary: #333;
  --colorBackground: #f9f9f9;
  --colorHeaderBackground: #333;
  --colorHeaderText: #fff;
  --colorBtnBackground: #333;
  --colorBtnHover: #555;
  --colorGlow: #00aaff80;
  --colorGlowHover: #00aaff;
  --colorTextHover: #00aaff;
  --colorSectionBackground: #f9f9f9;
  --colorSkillHoverBackground: #00aaff;
  --colorSkillHoverText: #fff;
  --boxShadowLight: 0 2px 10px rgba(0, 0, 0, 0.1);
  --boxShadowGlow: 0 0 15px #00aaff80, 0 0 20px rgba(0, 170, 255, 0.5);
  --boxShadowGlowHover: 0 0 20px rgba(0, 170, 255, 0.7),
    0 0 25px rgba(0, 170, 255, 0.7);
  --boxShadowCard: 0 2px 10px rgba(0, 0, 0, 0.1);
  --boxShadowCardHover: 3px 3px 25px 3px #00aaff80;
  --transitionSpeed: 0.3s;
}

@font-face {
  font-family: var(--fontFamily);
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  line-height: 1.6;
  color: var(--colorSecondary);
  background: var(--colorBackground);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  padding: 20px;
  background: var(--colorHeaderBackground);
  color: var(--colorHeaderText);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.header-hidden {
  top: -100px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: var(--colorHeaderText);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transitionSpeed) ease;
}

nav ul li a:hover {
  color: var(--colorTextHover);
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--colorPrimary),
    var(--colorGradiant)
  );
  color: #fff;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
  height: 100vh;
  padding-bottom: env(safe-area-inset-bottom); /* For handling safe area */
}

@supports (height: 100dvh) {
  #hero {
    height: 100dvh; /* Uses dynamic viewport height to adjust on scroll */
  }
}

#hero h2 {
  font-size: var(--fontSizeLarge);
  margin-bottom: 10px;
  animation: slideIn 1s ease-out;
}

#hero h3 {
  font-size: var(--fontSizeMedium);
  margin-bottom: 20px;
  animation: slideIn 1s ease-out;
}

#hero p {
  font-size: var(--fontSizeBase);
  animation: slideIn 1.5s ease-out;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--colorBtnBackground);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background var(--transitionSpeed) ease,
    transform var(--transitionSpeed) ease;
}

.btn:hover {
  background: var(--colorBtnHover);
  transform: translateY(-5px);
}

.glowBtn {
  box-shadow: var(--boxShadowGlow);
}

.glowBtn:hover {
  box-shadow: var(--boxShadowGlowHover);
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em;
  padding: 0;
}

.contentSection {
  padding: 40px 20px;
  text-align: center;
}

#about {
  padding: 40px 20px;
  background-color: var(--colorSectionBackground);
  color: var(--colorSecondary);
  text-align: center;
  transform: translateY(50px); /* Slightly shifted down */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.div1 {
  display: flex;
  justify-content: center;
  transition: transform var(--transitionSpeed) ease,
    box-shadow var(--transitionSpeed) ease;
}

#aboutMePhoto {
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--boxShadowLight);
  transition: transform var(--transitionSpeed) ease,
    box-shadow var(--transitionSpeed) ease;
}

.div2 p {
  font-size: var(--fontSizeSmaller);
  line-height: 1.6;
  margin: 0;
  padding: 0 20px;
  transition: color var(--transitionSpeed) ease,
    transform var(--transitionSpeed) ease;
}

.div1:hover #aboutMePhoto {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 3px 3px 25px 3px var(--colorPrimary);
}

.div2 p:hover {
  color: var(--colorTextHover); /* Change text color on hover */
  transform: translateX(10px); /* Slide text slightly to the right */
}

@media (max-width: 768px) {
  .aboutMe {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .div2 p {
    padding-top: 20px;
  }

  #aboutMePhoto {
    max-width: 80%;
    margin: 0 auto;
  }
}

#projects .gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
  margin-top: 20px;
}

#skills {
  color: var(--colorSecondary);
  padding: 40px 20px;
  text-align: center;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.skillsCategory {
  background: var(--colorSectionBackground);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--boxShadowLight);
  transition: background var(--transitionSpeed) ease,
    transform var(--transitionSpeed) ease,
    box-shadow var(--transitionSpeed) ease;
}

.skillsCategory h3 {
  margin-bottom: 10px;
  font-size: var(--fontSizeMedium);
}

.skillsCategory ul {
  list-style-type: none;
  padding: 0;
}

.skillsCategory ul li {
  margin-bottom: 8px;
  font-size: var(--fontSizeSmaller);
  transition: color var(--transitionSpeed) ease,
    transform var(--transitionSpeed) ease;
}

.skillsCategory:hover {
  background: var(--colorSkillHoverBackground);
  color: var(--colorSkillHoverText);
  transform: scale(1.05);
  box-shadow: 3px 3px 25px 3px rgba(0, 170, 255, 0.5);
}

.skillsCategory:hover ul li {
  color: var(--colorSkillHoverText);
  transform: translateX(10px);
}

@media (max-width: 768px) {
  .skillsContainer {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  #projects .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projectCard {
  background: #fff; /* Default background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--boxShadowCard);
  position: relative;
  overflow: hidden;
  min-height: 150px;
  transition: transform var(--transitionSpeed) ease,
    box-shadow var(--transitionSpeed) ease,
    background var(--transitionSpeed) ease;
}

.projectCard:hover {
  transform: scale(1.05);
  box-shadow: var(--boxShadowCardHover);
  z-index: 6;
}

.extraContent {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  margin-top: 10px;
  transition: max-height 1s ease, opacity 0.5s ease, visibility 0.5s ease;
}

.projectCard:hover .extraContent {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--colorPrimary);
  border: none;
  color: #000000;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

#contact {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--colorHeaderBackground);
  color: white;
}

#contactMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

li {
  list-style-type: none;
}

#socialLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#socialLogo img {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 3em;
  margin: 10px;
}

.link {
  color: var(--colorHeaderText);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.burgerContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navigationalBar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #b6f6ec;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.footerContactMe {
  width: 20rem;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .burger {
    display: flex;
  }

  nav ul li {
    text-align: left;
    margin: 0;
    padding: 10px 0;
  }

  nav ul li a {
    padding: 10px;
    width: 100%;
    display: block;
  }

  #nav-links {
    display: none;
  }

  #hero {
    padding: 20px;
  }

  #hero h2 {
    font-size: var(--fontSizeMedium);
  }

  #hero h3 {
    font-size: var(--fontSizeSmall);
  }

  .aboutMe {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .div2 p {
    padding: 20px;
    text-align: left;
  }

  #projects .gridContainer {
    grid-template-columns: 1fr;
  }

  #contactMe {
    flex-direction: column;
  }

  #socialLogo {
    justify-content: center;
  }

  #socialLogo img {
    width: 2.5em;
  }
}
