<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/icons/computer.png" type="image/png" />
    <link rel="stylesheet" href="/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script src="/passwordCheck.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 id="header">Register</h1>
      <% if (typeof error !== 'undefined') { %>
      <p class="error"><%= error %></p>
      <% } %>
      <form id="registerForm" action="/register" method="post">
        <div class="form">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            oninput="checkPasswordStrength()"
          />

          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />

          <div id="passwordStrength"></div>
        </div>

        <input
          id="registerButton"
          class="button"
          type="submit"
          value="Submit"
        />
      </form>
      <a href="/">Login?</a>
    </div>

    <script>
      function updateButtonText() {
        const loginButton = document.getElementById("registerButton");
        registerButton.innerText = "Creating user...";
      }
    </script>
  </body>
</html>
